.main-title{
  text-align: center;
}
.main-peragraph{
  text-decoration: underline;
  color: darkorchid;
  font-size: 20px;
}

.point{
  text-align: center;
  
}
.pera{
  color: blue;
}
.fa-solid{
  color: goldenrod;
}
span{
  color: indianred;
}
.col-lg-6 img{
  width: 400px;
  height: 500px;
}
.col-lg-6{
  height: 450px;
}
.last-section{
  height: fit-content;
}
footer{
  position: relative;
  top: 30px;
}
.link{
  margin-top: 30px;
}
.link a{
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

 
